/**
  * This is an examples of the local.env.json file that is not committed to Git
  * This is only used for locally invoking Lambda functions with AWS SAM and
  * is not required to deploy the application to AWS
  */

{
  "POWERTOOLS_LOG_LEVEL": "DEBUG",
  "SPATIAL_DATA_TABLE": "SpatialDataTable",
  "ROUTES_TABLE": "RoutesTable",
  "PARTITION_KEY_HASH_PRECISION": "5",
  "SORT_KEY_HASH_PRECISION": "8",
  "GSI_HASH_PRECISION": "4",
  "WEATHER_DATA_SOURCE_URL": "https://aviationweather.gov/data/cache/metars.cache.xml.gz",
  "WEATHER_DATA_TTL_SECONDS": "14400"
}